.wrapper *,
.wrapper *::before,
.wrapper *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Verdana', sans-serif;
  background-image: url('../img//00_backGrnd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
}

.header {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 60px;
  font-family: 'Myriad Pro Regular', sans-serif;
}

.header-menu {}

.header-list {
  display: flex;
}
.header-list__item {
  margin-left: 20px;
}
.header-list__item-link {
  color: #fffefe;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}
.header-list__item-link:hover {
  text-decoration: underline;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  font-family: 'Myriad Pro Regular', sans-serif;
  user-select: none;
}
.logo__lucid {
  color: #fffefe;
  font-size: 22px;
  text-transform: uppercase;
}
.logo__ot {
  margin-left: 20px;
  color: #55555b;
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
}

.hello {
  width: 100%;
  height: 640px;
  padding-top: 120px;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: rgba(21, 20, 26, .9);
  /* Надо из ФШ сразу экспортировать картинку с наложенным оверлеем */
  /* background-image: url('../img//00_backGrnd.jpg'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.hello__title {
  margin-bottom: 20px;
  color: #008ed6;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hello__sub-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 44px;
  font-weight: normal;
  line-height: 1.0;
  letter-spacing: 1px;
}

.hello__content {
  margin-bottom: 60px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
}

.hello__footer {
  display: flex;
}

.hello__button {
  display: block;
  height: 47px;
  padding: 0 25px;
  margin-right: 15px;
  color: #fff;
  font-size: 12px;
  line-height: 47px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #454549;
  border-radius: 4px;
  transition:
    background-color .2s ease,
    border-color .2s ease;
}

.hello__button:hover {
  background-color: #008ed6;
  border-color: #008ed6;
}

.hello__picture {
  width: 100%;
  max-width: 420px;
  margin-right: 60px;
}

.old {
  height: 50px;
  background-color: white
}
/* старое */

.first-section {
  /* border: 1px dashed green; */
  height: 640px;
  width: 1440px;
  position: absolute;
  /* background-image: url(img/W.png); */
  background-color: #15141a;
  z-index: -2;

}
.main-cont {
  display: inline-block;
  /* border: 1px dashed green; */
  margin-left: 140px;
  width: 1160px;
  /* margin-right: 10px; */
  margin-top: 45px;
  /* margin-bottom: 110px; */
  /* background-image: url(img/01_cellphone.png); */
}
.main-cont a:link {
color: #fffefe;
/* font-family: Myriad Pro Regular, sans-serif; */
}
.main-cont__backgrnd img {
  /* border: 1px dashed green; */
  display: block;
  position: absolute;
  /* right: 190px; */
  /* top: 160px; */
  top: 0px;
  left: 0px;
  width: 1440px;
  z-index: -1;
  opacity: 0.1;
}

.main-cont__cellphone img {
  /* border: 1px dashed green; */
  display: block;
  position: absolute;
  right: 190px;
  /* top: 160px; */
  bottom: 0px;
  width: 420px;
}

.main-cont__background {
  /* display: block; */
  height: 640px;
  width: 1440px;
}
/*================ первый row с меню ====================  */
.navigation {
  /* align: right; */
  /* border: 1px solid red; */
  font-family: Myriad Pro Regular, sans-serif;
  letter-spacing: 1px;
}
/* LUSID */
.navigation__logo {
  display: inline-block;
  color: #fffefe;
  font-size: 22px;
  text-transform: uppercase;

}
/* onepage theme */
.navigation__ot {
  display: inline-block;
  color: #55555b;
  font-size: 9px;
  text-transform: uppercase;
  margin-left: 20px;
  line-height: 1.3;

}

.navigation-menu {
  display: inline-block;
  /* border: 1px dashed yellow; */
  /* margin-right: 1px; */
  margin-left: 455px; /* может быть надо было сделать выравнивание по правому краю ??*/
}
.navigation-menu__ul {
  display: inline-block;
  /* text-align: right; */
  color: #fffefe;
  font-size: 14px;
  /* border: 1px solid green; */
}
.navigation-menu__li {
  display: inline-block;
  margin-left: 20px;
  /* border: 1px dashed blue; */
}
.navigation-menu__li ._color-white {
  color: #fffefe;
}
.navigation-menu__li a:link {
  color: #fffefe;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  /* bottom: 4px; */
  border-bottom: 3px solid #15141a;

}
.navigation-menu__li a:hover {
  /* color: #008ed6;
  text-decoration: underline; */
  /* border: 1px dashed blue; */
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  /* bottom: 4px; */
  border-bottom: 3px solid #008ed6;
  /* stroke-dasharray: 5 20; */
  /* z-index: 1; */

}


/*================ второй row  с основным текстом  ====================  */
.text {
  /* border: 1px solid red; */
  display: inline-block;
  margin-top: 70px;
  font-family: Myriad Pro Regular, sans-serif;
}
.text__first-txt {
  /* border: 1px dashed green; */
  display: block;
  color: #008ed6;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}
.text__second-txt {
  /* border: 1px dashed yellow; */
  display: block;
  color: #ffffff;
  font-size: 44px;
  margin-top: 25px;
  line-height: 1.0;
  letter-spacing: 1px;
  /* height: 150px; */
  /* text-transform: uppercase; */
}

.text__third-txt {
  /* border: 1px dashed blue; */
  display: block;
  color: #999999;
  font-size: 15px;
  margin-top: 30px;
  line-height: 1.6;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
}
/*================ третий row  с кнопками  ====================  */

.buttons {
  /* border: 1px solid red; */
  display: block;
  margin-top: 60px;
  font-family: Myriad Pro Regular, sans-serif;

}
.buttons__ul {
  /* border: 1px dashed green; */
  /* display: inline-block; */
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px;

}
.buttons__li {
  /* border: 1px dashed yellow; */
  display: inline-block;
  margin-right: 15px;

}
.buttons__li a {
  width: 105px;
  height: 15px;
  border: 1px solid #454549;
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}
.buttons__li a:hover {
  background: #008ed6;
  border: 1px solid #008ed6;
}
